* {
    margin: 0;
    padding: 0;
}

body 
{
    background-image: url("fundodobalacobaco.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#h2 {
    text-align: center;
    height: 50px; /*altura*/
    padding-top: 14px;
    color: rgb(211, 211, 211);
}

  #h3 {
    text-align: center;
    background-color: blue;
    width: 200px;
    color: rgb(211, 211, 211);
}
.center 
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
